<!DOCTYPE html>
<html lang="en">

<head>
  <title>JOBS4U</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css\stylesheet1.css">
  <link rel="stylesheet" href="css\stylesheet2.css">
  <link rel="stylesheet" href="css\stylesheet3.css">
  <link rel="stylesheet" href="css\jobs4uStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

</head>
<style>
</style>

<body g-app="app" ng-controller="controller">
  <div class="w3-content" style="max-width:2000px;">
    <div class="w3-display-container w3-center">
      <img src="images\working.jpeg" style="width:100%; max-width:1700px">
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <div class="col-xs-4">
          <h1>Jobs 4 U</h1>
          <form class="example">
            <input id="buttons" type="text" placeholder="Search.." name="search">
            <button type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </div>
      <br>
    </div>
  </div>

  <!-- The Band Section -->
  <div ng-app="app" ng-controller="controller">
    <div class="container" id="contentBox">
      <div class="row">

        <div class="card col-md-3 col-xl-2" style="width: 18rem;">
          <img class="card-img-top" src="images\hairdress.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Hairdressing</h5>
            <p class="card-text">Here is a small description of hairdressing careers </p>
            <a href="#" class="btn btn-primary">Click to see more info</a>
          </div>
        </div>

        <div class="card col-md-3 col-xl-2" style="width: 18rem;">
          <img class="card-img-top" src="images\picture1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Construction</h5>
            <p class="card-text">Here is a small description of construction careers </p>
            <a href="#" class="btn btn-primary">Click to see more info</a>
          </div>
        </div>

        <div class="card col-md-3 col-xl-2" style="width: 18rem;">
          <img class="card-img-top" src="images\technology.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Technology</h5>
            <p class="card-text">Here is a small description of technology careers </p>
            <a href="#" class="btn btn-primary">Click to see more info</a>
          </div>
        </div>

        <div class="card col-md-3 col-xl-2" style="width: 18rem;">
          <img class="card-img-top" src="images\teaching.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Teaching</h5>
            <p class="card-text">Here is a small description of teaching careers </p>
            <a href="#" class="btn btn-primary">Click to see more info</a>
          </div>
        </div>

        <div class="card col-md-3 col-xl-2" style="width: 18rem;">
          <img class="card-img-top" src="images\teaching.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Teaching</h5>
            <p class="card-text">Here is a small description of teaching careers </p>
            <a href="#" class="btn btn-primary">Click to see more info</a>
          </div>
        </div>

        <div class="card col-md-3 col-xl-2" style="width: 18rem;">
          <img class="card-img-top" src="images\managemet.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Management</h5>
            <p class="card-text">Here is a small description of teaching careers </p>
            <a href="#" class="btn btn-primary">Click to see more info</a>
          </div>
        </div>

        <div class="card col-md-3 col-xl-2" style="width: 18rem;">
          <img class="card-img-top" src="images\retail.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Retail</h5>
            <p class="card-text">Here is a small description of teaching careers </p>
            <a href="#" class="btn btn-primary">Click to see more info</a>
          </div>
        </div>

        <div class="card col-md-3 col-xl-2" style="width: 18rem;">
          <img class="card-img-top" src="images\teaching.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Teaching</h5>
            <p class="card-text">Here is a small description of teaching careers </p>
            <a href="#" class="btn btn-primary">Click to see more info</a>
          </div>
        </div>

      </div>

      <h1 id="titleDivs" style="margin-top:40px; width:100%; text-align:center;">Job Listings:</h1>

      <div class="row">
        <div id="jobItemHolder" class="card border-dark mb-3" style="width:100%" ng-repeat="job in jobsData | orderBy: 'timestamp'"
          class="col-lg-5">
          <div class="card-header">{{job.company}}</div>
          <div class="card-body text-dark">
            <h5 class="card-title">{{job.title}}</h5>
            <p class="card-text">
              <p><strong>Job Description:</strong> {{job.description}}</p>
              <p><strong>Salary:</strong> £{{job.salary}}</p>
              <p><strong>Contact us:</strong> {{job.contactNumber}}</p>
            </p>
          </div>
        </div>
      </div>
      
    </div>
    <br>

    <div ng-show="isAdmin">
      <button type="button" data-target="#addJobModal" data-toggle="modal" class="btn btn-primary btn-lg">Add Listing</button>
    </div>

    <div class="modal fade" id="addJobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Add Listing</h2>
          </div>
          <div class="modal-body">
            <input placeholder="Company" class="textInp" type="text" id="companyTxt" />
            <input placeholder="Job Title" class="textInp" type="text" id="jobTitleTxt" />
            <input placeholder="Description" class="textInp" type="text" id="descriptionTxt" />
            <input placeholder="Salary" class="textInp" type="text" id="salaryTxt" />
            <input placeholder="Contact Number" class="textInp" type="text" id="contactNumTxt" />
            <input placeholder="Category" class="textInp" type="text" id="categoryTxt" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="addListing()">Create Listing</button>
          </div>
        </div>
      </div>
    </div>

    <!-- The Tour Section -->
    <div class="w3-blue" id="tour">

    </div>

    <!-- Ticket Modal -->
    <div id="ticketModal" class="w3-modal">

    </div>

    <!-- The Contact Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">

    </div>

    <!-- End Page Content -->

    <!-- Footer -->
    <footer>
      <div ng-show="!isAdmin">
        <span>Admin Login:</span>
        <input id="adminKeyInp" type="text" placeholder="admin key">
        <button class="btn btn-primary" ng-click="adminLogin()" id="adminLoginBtn">Submit</a>
      </div>
      <div ng-show="isAdmin">
        <button class="btn btn-primary" ng-click="logout()">Logout as Admin</button>
      </div>
    </footer>

  </div>
  <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-firestore.js"></script>
  <script src="js\jobs4uScript.js"></script>
</body>

</html>