<!DOCTYPE html>
<html lang="en">

<head>
  <title>JOBS4U</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css\stylesheet1.css">
  <link rel="stylesheet" href="css\stylesheet2.css">
  <link rel="stylesheet" href="css\stylesheet3.css">
  <link rel="stylesheet" href="css\jobs4uStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

</head>


<body g-app="app" ng-controller="controller">
  <div ng-app="app" ng-controller="controller">
    
    <!-- Search -->
    <div class="w3-content" style="max-width:2000px;">
      <div class="w3-display-container w3-center">
        <img src="images\working.jpeg" style="width:100%; max-width:1700px">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
          <div class="col-xs-4">
            <h1>Jobs 4 U</h1>
            <div class="example">
              <input ng-model="searchInp" id="searchBar" type="text" placeholder="Search.." name="search">
              <button type="button" class="button btn-primary" ng-click="searchEntered(searchInp)">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>

    <!-- Categories -->
    <div class="container" id="contentBox">
      <h3 style="text-align: center;">Filter By:</h3>
      <div class="row">
        <div class="card col-md-3 col-xl-2" style="width: 18rem; margin: 1rem;" ng-repeat="cat in currentCategories" ng-style="{'background':(filterByCat == cat)?'powderblue':'white'}">
          <img class="card-img-top cat-img" ng-src="images\{{cat}}.jpg" alt="Card image cap" style="margin-top: inherit;">
          <div class="card-body">
            <h5 class="card-title" style="text-transform: capitalize;">{{cat}}</h5>
            <button ng-click="categoryClicked(cat)" style="text-transform: capitalize;" class="button btn-primary">{{cat}} careers</button>
          </div>
        </div>
      </div>

      <!-- Job Listings -->
      <h1 id="titleDivs" style="margin-top:40px; width:100%; text-align:center;">Job Listings:</h1>
      <div class="row">
        <div id="jobItemHolder" class="card border-dark mb-3 col-lg-5 listingText" ng-repeat="job in jobsData | orderBy: 'timestamp' | filter: filterByCat | filter: filterBySearch;">
          <div class="card-header">
            <span style="font-size: x-large;">
              <strong>{{job.title}}</strong>
            </span>
            <span style="float:right; margin-top:8px;">{{job.category}}</span>
          </div>
          <div class="card-body text-dark card-text" style="padding-top:5px;">
            <span style="font-size:large;">{{job.company}}</span>
            <br>
            <span style="font-size:large; color:grey;">
              <strong>{{job.location}}</strong>
            </span>
            <br>
            <span style="padding-top:3px;padding-bottom:3px;">
              <strong>£{{job.salary}} a year</strong>
            </span>
            <br>
            <span style="text-transform: none;">{{job.description}}</span>
            <br>
            <span style="color: red;">Contact us: {{job.contactNumber}}</span>
            <button ng-show="isAdmin" id="deleteBtn" class="button btn-danger" ng-click="deleteListing(job.uid)">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- Add Listing Modal -->
    <div ng-show="isAdmin">
      <button type="button" data-target="#addJobModal" data-toggle="modal" class="btn btn-primary btn-lg">Add Listing</button>
    </div>

    <div class="modal fade" id="addJobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Add Listing</h2>
          </div>
          <div class="modal-body">
            <input placeholder="Company" class="textInp" type="text" id="companyTxt" />
            <input placeholder="Job Title" class="textInp" type="text" id="jobTitleTxt" />
            <textarea placeholder="Description" class="textInp" type="text" id="descriptionTxt"></textarea>
            <input placeholder="Salary" class="textInp" type="text" id="salaryTxt" />
            <input placeholder="Location" class="textInp" type="text" id="locationTxt" />
            <input placeholder="Contact Number" class="textInp" type="text" id="contactNumTxt" />
            <select ng-model="selectedCategory" class="textInp" style="padding:5px;">
              <option value="" disabled selected>Select a category</option>
              <option ng-repeat="cat in jobCategories">{{cat}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="addListing()">Create Listing</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div ng-show="!isAdmin">
        <input id="adminKeyInp" type="text" placeholder="admin key">
        <button class="btn btn-primary" style="margin-top:10px;" ng-click="adminLogin()" id="adminLoginBtn">Submit</a>
      </div>
      <div ng-show="isAdmin">
        <button class="btn btn-primary" ng-click="logout()">Logout As Admin</button>
      </div>
    </footer>

  </div>
  <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-firestore.js"></script>
  <script src="js\jobs4uScript.js"></script>
</body>

</html>